body{
  /* /home/rajat07/Desktop/Web Dev/React/health-calculator/public/images/back.jpg */
  background-image: url('./images/bodyback.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover; 


}
.header {
    display: flex;
    font-size: 50px;
    border-radius: 2px;
    justify-content: center;
    height: 65px;
    background: linear-gradient(90deg, #ab5ac9 1.18%, #c083d6 100%);
    color: white;
    padding: 20px;
    border: 2px solid red;
    border-radius: 50px 20px;
    text-shadow: 2px 2px #a4d81536;
    background-image: url('./images/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; 
  
  }
.value{
    display: flex;
    justify-content: center;
    padding: 0.1%;
}
  .input{
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: 2px rgb(212, 89, 206);
    color: rgb(35, 226, 10);
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;

  }
.final{
padding: 15px 32px;
text-align: center;
border: 3px solid rgb(218, 62, 41);
border-radius: 50px ;
text-shadow: 2px 2px #a4d81536;
cursor: pointer;
}
.add{
    padding: 15px 32px;
    text-align: center;
    border: 3px solid  rgb(218, 62, 41);
    border-radius: 50px ;
    text-shadow: 2px 2px #a4d81536;
    cursor: pointer;
}

.table1{
    padding: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    border: 3px solid rgb(128, 219, 25);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}
td{
    text-align: center;
    padding: 1%;
}
.hover:hover 
{
  background-color: #ddd;
  color:black;
  font-size: large;
  transform: translateY(-0.15em);
}

.black{
  color: black;
  font-size: 25px;
}
.final:hover{
  background-color: rgb(197, 236, 191);
  border-radius: 40%;
  box-shadow:0 0.5em 0.5em -0.4em  #f1f15c;
  transform: translateY(-0.35em);
  /* margin-left: 50%; */
}
.add:hover{
  background-color: rgb(197, 236, 191);
  border-radius: 40%;
  box-shadow:0 0.5em 0.5em -0.4em  #f1f15c;
  transform: translateY(-0.35em);
  /* margin-left: 50%; */
}